<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Availible libraries</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="navbar::navbarinclude"></div>

    <div>
        <table class="table table-striped" border="1">
            <tr>
                <th>User</th>
                <th>Go to library</th>
            </tr>

            <tr th:each="user : ${users}">
                <td th:utext="${user.username}"></td>
                <td><a th:href="${'/library?owner=' + user.username}"/>Go</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>