<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hires</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="navbar::navbarinclude"></div>
    <div class="row">
        Hires of book <span th:text="${book.book.title}"></span>:
    </div>
    <div>
        <table class="table table-striped" border="1">
            <tr>
                <th>Borrowed to</th>
                <th>Outside</th>
                <th>Start date</th>
                <th>End date</th>
            </tr>

            <tr th:each="hire : ${hires}">
                <td>
                    <span th:if="${hire.borrower != null}" th:utext="${hire.borrower.username}"></span>
                </td>
                <td th:utext="${hire.outside}"></td>
                <td th:utext="${hire.startDate}"></td>
                <td th:utext="${hire.endDate}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>